<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/reg">
        <div>
            <label for='item'>username</label>
            <input name="username" type="text" id="item">
        </div>
        <div>
            <label for='time'>password</label>
            <input name="password" type="password" id="time">
        </div>
        <hr>
        <button type="submit" >註冊</button>
    </form>
</body>
</html>